<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>RubikBubbles-Regular.ttf</string>
		<string>Montserrat-VariableFont_wght.ttf</string>
		<string>Montserrat-Italic-VariableFont_wght.ttf</string>
		<string>Jost-Black.ttf</string>
		<string>Jost-Bold.ttf</string>
		<string>Jost-MediumItalic.ttf</string>
		<string>Jost-Light.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
	</array>
</dict>
</plist>
